
#interestTable th:last-child {
    width: 1% !important;
}
#interestTable td {
    vertical-align: middle;
}
#interestTable td.editable {
    cursor: pointer;
}
td hr.ex_vat {
    margin: 0em 0;
}
label.small {
    margin-bottom: 0;
}
img.avatar {
    height: 60px;
    width: 60px;
}
